packages:
  yum:
    nfs-utils: []
    jq: []

commands:
  01_mount:
    command: "/tmp/mount-efs.sh"
  02_restart:
    # https://stackoverflow.com/questions/38180665/using-aws-efs-with-docker
    command: "service docker restart"

files:
  "/tmp/mount-efs.sh":
      mode: "000755"
      owner: root
      group: root
      content: |
        #!/bin/bash

        EFS_MOUNT_DIR=/var/jenkins_home
        EFS_HOST=$(/opt/elasticbeanstalk/bin/get-config environment | jq -r '.EFS_HOST')

        until host $EFS_HOST
        do
          echo "Waiting for ${EFS_HOST} to become available..."
          sleep 1;
        done

        echo "Mounting EFS filesystem ${EFS_HOST}:/ to directory ${EFS_MOUNT_DIR} ..."

        echo 'Stopping NFS ID Mapper...'
        service rpcidmapd status &> /dev/null
        if [ $? -ne 0 ] ; then
            echo 'rpc.idmapd is already stopped!'
        else
            service rpcidmapd stop
            if [ $? -ne 0 ] ; then
                echo 'ERROR: Failed to stop NFS ID Mapper!'
                exit 1
            fi
        fi

        echo 'Checking if EFS mount directory exists...'
        if [ ! -d ${EFS_MOUNT_DIR} ]; then
            echo "Creating directory ${EFS_MOUNT_DIR} ..."
            mkdir -p ${EFS_MOUNT_DIR}
            if [ $? -ne 0 ]; then
                echo 'ERROR: Directory creation failed!'
                exit 1
            fi
            chmod 777 ${EFS_MOUNT_DIR}
            if [ $? -ne 0 ]; then
                echo 'ERROR: Permission update failed!'
                exit 1
            fi
        else
            echo "Directory ${EFS_MOUNT_DIR} already exists!"
        fi

        mountpoint -q ${EFS_MOUNT_DIR}
        if [ $? -ne 0 ]; then
            echo "mount -t nfs4 -o nfsvers=4.1 ${EFS_HOST}:/ ${EFS_MOUNT_DIR}"
            mount -t nfs4 -o nfsvers=4.1 ${EFS_HOST}:/ ${EFS_MOUNT_DIR}
            if [ $? -ne 0 ] ; then
                echo 'ERROR: Mount command failed!'
                exit 1
            fi
        else
            echo "Directory ${EFS_MOUNT_DIR} is already a valid mountpoint!"
        fi

        chmod 777 ${EFS_MOUNT_DIR}
        if [ $? -ne 0 ]; then
            echo 'ERROR: Permission update failed!'
            exit 1
        fi

        echo 'EFS mount complete.'
