# http://docs.ansible.com/ansible/latest/intro_installation.html
container_commands:
  01_install_pip:
    command: "sudo easy_install pip"
  02_upgrade_pip:
    command: "sudo `which pip` install --upgrade pip"
  03_install_ansible:
    command: "sudo `which pip` install ansible"
  04_play:
    command: "`which ansible-playbook` .ebextensions/ansible/test1.yml"
