packages:
  yum:
    git: []

container_commands:
  01_upgrade_pip:
    command: "pip install --upgrade pip"
  02_install_ansible:
    command: "pip install ansible"
  03_remove_roles:
    command: "rm -rf .ebextensions/ansible/roles"
  04_ansible-galaxy_install_roles:
    command: "ansible-galaxy install -f --roles-path .ebextensions/ansible/roles -r .ebextensions/ansible/requirements.yml"
  05_install_python_requirements:
    command: "pip install -r .ebextensions/ansible/extension/setup/python_requirements.txt"
  06_ansible_playbook_ntpd:
    env:
      ANSIBLE_CONFIG: .ebextensions/ansible/ansible.cfg
    command: "ansible-playbook .ebextensions/ansible/playbooks/ntpd.yml"
  07_ansible_playbook_datadog:
    env:
      ANSIBLE_CONFIG: .ebextensions/ansible/ansible.cfg
    command: "ansible-playbook .ebextensions/ansible/playbooks/datadog.yml -e \"datadog_hostname=$DATADOG_HOSTNAME\" -e \"datadog_api_key=$DATADOG_API_KEY\""
  08_ansible_playbook_sumologic:
    env:
      ANSIBLE_CONFIG: .ebextensions/ansible/ansible.cfg
    command: "ansible-playbook .ebextensions/ansible/playbooks/sumologic.yml -e \"sumologic_collector_name=$SUMOLOGIC_COLLECTOR_NAME\" -e \"sumologic_access_id=$SUMOLOGIC_ACCESS_ID\" -e \"sumologic_access_key=$SUMOLOGIC_ACCESS_KEY\""
  09_add_datadog_agent_user_to_docker_group:
    command: "usermod -a -G docker dd-agent"
