# Adds SSH keys for accessing Bitbuket.
#
# Our SSH configuration lives in the m2a-root-cicd-ssh bucket. This
# bucket and the role to access it is deployed by Terraform. The
# contents are managed manually.


Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["m2a-root-cicd-ssh"]
          roleName: "m2a-root-jenkins-eb-env-ec2"


files:
  "/var/git/.ssh/known_hosts":
    mode: "000600"
    owner: git
    group: git
    authentication: "S3Auth"
    source: https://s3-eu-west-1.amazonaws.com/m2a-root-cicd-ssh/known_hosts
  "/var/git/.ssh/id_rsa":
    mode: "000600"
    owner: git
    group: git
    authentication: "S3Auth"
    source: https://s3-eu-west-1.amazonaws.com/m2a-root-cicd-ssh/id_rsa
  "/var/git/.ssh/id_rsa.pub":
    mode: "000600"
    owner: git
    group: git
    authentication: "S3Auth"
    source: https://s3-eu-west-1.amazonaws.com/m2a-root-cicd-ssh/id_rsa.pub
